/* divs to make boxes with borders */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


header {
    display: grid;
    grid-template-rows: 10%;
    width: 100%;
    font-size: 2rem;
    align-content: center;
    height: 10vh;
    margin: 0 auto;
    background-color: gold;
    padding: .5rem;
    color: navy;
    text-align: center;
}

.board {
    display: grid;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

body {
    margin: 0;
    display: grid;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: lightpink;
    color: whitesmoke;
    font-weight: bold;
}